<!-- -*- coding: utf-8 -*- -->
<script type="text/javascript">	

var infoWindow;
var mapObj;

// 情報ウィンドウ表示
function showInfoWindow(marker, infoWindowOpts) {
	// 既に開かれていたら閉じる(情報ウィンドウの表示は1つにする)
	google.maps.event.addListener(marker, 'click', function() {
		if(infoWindow) infoWindow.close();
		infoWindow = new google.maps.InfoWindow(infoWindowOpts);
		infoWindow.open(mapObj, marker);
	});
}

// マーカー表示
function showMarker(lat, lon, dateTime, imgTitle, imgPath) {

	var mapLatLng = new google.maps.LatLng(lat, lon);
	var marker = new google.maps.Marker({
		position : mapLatLng,
		animation: google.maps.Animation.BOUNCE,
		map : mapObj,
		title: imgTitle
	});
	// マーカーに関連付けて表示するWindowのオプションを作成
	var infoWindowOpts = {
		content: createInfoViewContent(dateTime, imgTitle, imgPath),
		positon: mapLatLng
	};
	showInfoWindow(marker, infoWindowOpts);

}

// Mapオブジェクト作成
function createMapObj(centerLat, centerLon) {

	// 地図を表示したときの最初の表示位置を指定
	var options = {
		zoom: 6,
		center: new google.maps.LatLng(centerLat, centerLon),
		mapTypeId: google.maps.MapTypeId.ROADMAP 
	};
	// 地図を表示する領域（"map"）を取得してマップオブジェクトを作成
	mapObj = new google.maps.Map(document.getElementById("map"), options);
}

// Mapオブジェクト作成
function createInfoViewContent(dateTime, imgTitle, imgPath) {
	// 情報Windowを編集する場合は、ここを変更する。
	// 現在は日時とタイトル、写真を表示するようにしている。
	return htmlContent = "<strong>" + imgTitle + "</strong><br>" + dateTime +"<br><a href='" + imgPath + "' Target='_blank'><img src='" + imgPath + "' Width='73.5' Height='98' align='left'></a></div>";
}

function init(){
	{% if imgList %}
		createMapObj({{imgList.0.lat}}, {{imgList.0.lon}});
		{% for image in imgList %}
			showMarker({{image.lat}}, {{image.lon}}, "{{image.datetime}}", "{{image.imgtilte}}", "{{image.imgpath}}");
		{% endfor %}
	{% else %}
		document.write("Not Photo...");
	{% endif %}
}
</script>